bin
build
log
target
.settings
.project
.classpath
.factorypath
.apt_generated
*.launch
*.iml
.gradle
.idea
out
*.ipr
*.iws
Gruntfile.js
package.json
node_modules/
log
*~
/.nb-gradle/
.nb-gradle-properties
/shop-web/nbproject/*
/shop-admin/nbproject/*
nbproject
.sass-cache
.tscache